Repository pedrosantosbr/barilo: changes, and which lefthook commands are due for each by the changed paths.
All: root-install, barilo-web, barilo-rest-api

root-install:
  run: 'bun install
  
    '

barilo-web:
  run: 'bun install
  
    bun lint
  
    '

barilo-rest-api:
  run: 'poetry shell
  
    poetry install --sync --no-root
  
    poetry run ruff check --fix .
  
    poetry run ruff format .
  
    poetry run ruff lint .
  
    poetry deactivate
  
    '

chore: updated setup script
  devops/scripts/helpers
  lefthook.yaml
  package.json
Due: none

chore: fixed lefthook
  .envrc
  lefthook.yaml
Due: none

chore: formatted python code
  lefthook.yaml
  services/barilo-rest-api/accounts/migrations/0001_initial.py
  services/barilo-rest-api/accounts/models.py
  services/barilo-rest-api/core/settings.py
  services/barilo-rest-api/markets/migrations/0001_initial.py
  services/barilo-rest-api/markets/views.py
  services/barilo-rest-api/ranks/migrations/0001_initial.py
Due: barilo-rest-api

chore: setup postgis
  Dockerfile
  docker-compose.yml
  initdb-postgis.sh
  services/barilo-rest-api/accounts/migrations/0002_usergeolocation.py
  services/barilo-rest-api/accounts/models.py
  services/barilo-rest-api/build/rest-server/Dockerfile
  services/barilo-rest-api/core/settings.py
  services/barilo-rest-api/markets/admin.py
  services/barilo-rest-api/markets/management/commands/location.py
  services/barilo-rest-api/markets/migrations/0001_initial.py
  services/barilo-rest-api/markets/models.py
  services/barilo-rest-api/markets/serializers.py
  services/barilo-rest-api/markets/urls.py
  services/barilo-rest-api/markets/views.py
  services/barilo-rest-api/poetry.lock
  services/barilo-rest-api/pyproject.toml
  services/barilo-web/src/app/(web)/encartes/page.tsx
  services/barilo-web/src/app/page.tsx
  services/barilo-web/src/components/preferences/select-distance-preference/index.tsx
  services/barilo-web/src/components/preferences/select-distance-preference/select-distance-preference.tsx
  update-postgis.sh
Due: root-install, barilo-web, barilo-rest-api

chore: added pend tasks to readme file
  README.md
  lefthook.yaml
Due: none

feat: fixed create-account feature
  services/barilo-web/src/app/(auth)/registrar/page.tsx
  services/barilo-web/src/components/register-form.tsx
Due: root-install, barilo-web

feat: added page central-do-anunciante
  services/barilo-web/src/app/(auth)/central-do-anunciante/page.tsx
  services/barilo-web/src/app/(auth)/registrar/page.tsx
  services/barilo-web/src/app/(dashboard)/admin/(auth)/login.tsx
  services/barilo-web/src/app/(web)/central-do-anunciante/page.tsx
  services/barilo-web/src/components/admin/admin-header/admin-header.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
Due: root-install, barilo-web

chore: installed startlight for documentation
  services/barilo-docs/.gitignore
  services/barilo-docs/.vscode/extensions.json
  services/barilo-docs/.vscode/launch.json
  services/barilo-docs/README.md
  services/barilo-docs/astro.config.mjs
  services/barilo-docs/package.json
  services/barilo-docs/public/favicon.svg
  services/barilo-docs/src/assets/houston.webp
  services/barilo-docs/src/content/config.ts
  services/barilo-docs/src/content/docs/guides/example.md
  services/barilo-docs/src/content/docs/index.mdx
  services/barilo-docs/src/content/docs/reference/example.md
  services/barilo-docs/src/env.d.ts
  services/barilo-docs/tsconfig.json
  services/barilo-docs/yarn.lock
Due: root-install

fixed grpc server initiallization
  .vscode/settings.json
  docker-compose.yml
  lib/protos/helloworld.proto
  lib/python/helloworld_pb2.py
  lib/python/helloworld_pb2.pyi
  lib/python/helloworld_pb2_grpc.py
  services/barilo-rest-api/.vscode/settings.json
  services/barilo-rest-api/build/grpc-server/Dockerfile
  services/barilo-rest-api/core/grpc.py
  services/barilo-rest-api/docker-entry.sh
Due: barilo-rest-api

chore: fixed upload circulars
  services/barilo-rest-api/markets/migrations/0001_initial.py
  services/barilo-rest-api/markets/migrations/0002_remove_circular_store_circular_market.py
  services/barilo-rest-api/markets/migrations/0003_remove_product_store_product_market.py
  services/barilo-rest-api/markets/models.py
  services/barilo-rest-api/markets/producers.py
  services/barilo-rest-api/markets/serializers.py
  services/barilo-rest-api/markets/urls.py
  services/barilo-rest-api/markets/views.py
  services/barilo-web/src/app/page.tsx
  services/barilo-web/src/entities/store.ts
Due: root-install, barilo-web, barilo-rest-api

fixed bug not filtering markets by geolocation
  services/barilo-rest-api/accounts/views.py
  services/barilo-rest-api/markets/migrations/0001_initial.py
  services/barilo-rest-api/markets/migrations/0002_remove_circular_store_circular_market.py
  services/barilo-rest-api/markets/migrations/0003_remove_product_store_product_market.py
  services/barilo-rest-api/markets/models.py
  services/barilo-rest-api/markets/serializers.py
  services/barilo-rest-api/markets/urls.py
  services/barilo-rest-api/markets/views.py
  services/barilo-web/bun.lockb
  services/barilo-web/package.json
  services/barilo-web/src/app/page.tsx
  services/barilo-web/src/components/connect-whatsapp-number.tsx
  services/barilo-web/src/components/preferences/select-distance-preference/select-distance-preference.tsx
  services/barilo-web/src/components/ui/slider.tsx
Due: root-install, barilo-web, barilo-rest-api

updated bun
  services/barilo-web/bun.lockb
Due: barilo-web

renamed address context to preferences context
  services/barilo-rest-api/accounts/serializers.py
  services/barilo-rest-api/accounts/views.py
  services/barilo-rest-api/markets/migrations/0001_initial.py
  services/barilo-web/src/app/(web)/e-cart/page.tsx
  services/barilo-web/src/app/(web)/encartes/page.tsx
  services/barilo-web/src/app/(web)/layout.tsx
  services/barilo-web/src/app/page.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/components/preferences/select-distance-preference/index.tsx
  services/barilo-web/src/components/preferences/select-radius-preference/index.tsx
  services/barilo-web/src/components/preferences/select-radius-preference/select-radius-preference.tsx
  services/barilo-web/src/components/shopping/ShoppingSimulatorForm.tsx
  services/barilo-web/src/contexts/preferences-context.tsx
Due: root-install, barilo-web, barilo-rest-api

chore: setup django consumers in a separated container
  .envrc
  docker-compose.yml
  lib/python/rabbitmq/__init__.py
  lib/python/rabbitmq/consumer.py
  lib/python/rabbitmq/worker.py
  services/barilo-ranker/.gitignore
  services/barilo-ranker/.vscode/settings.json
  services/barilo-ranker/README.md
  services/barilo-ranker/cmd/__init__.py
  services/barilo-ranker/cmd/rest-api.py
  services/barilo-ranker/consumers.py
  services/barilo-ranker/main.py
  services/barilo-ranker/poetry.lock
  services/barilo-ranker/pyproject.toml
  services/barilo-ranker/services.py
  services/barilo-ranker/test.py
  services/barilo-rest-api/accounts/views.py
  services/barilo-rest-api/build/rabbitmq-consumer/Dockerfile
  services/barilo-rest-api/core/grpc.py
  services/barilo-rest-api/core/settings.py
  services/barilo-rest-api/docker-entry.sh
  services/barilo-rest-api/markets/consumers.py
  services/barilo-rest-api/markets/management/commands/start_grpc_server.py
  services/barilo-rest-api/markets/management/commands/start_rabbitmq_consumer.py
  services/barilo-rest-api/markets/workers.py
  services/barilo-web/src/app/(web)/e-cart/page.tsx
  services/barilo-web/src/app/(web)/layout.tsx
  services/barilo-web/src/app/globals.css
  services/barilo-web/src/app/layout.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/components/shopping/ShoppingSimulatorForm.tsx
  services/barilo-web/src/contexts/preferences-context.tsx
  services/barilo-web/tailwind.config.ts
Due: root-install, barilo-web, barilo-rest-api

chore: moved upload_circular feature to circulars app
  services/barilo-api/circulars/models.py
  services/barilo-api/circulars/producers.py
  services/barilo-api/circulars/serializers.py
  services/barilo-api/circulars/urls.py
  services/barilo-api/circulars/views.py
  services/barilo-api/core/urls.py
  services/barilo-api/markets/admin.py
  services/barilo-api/markets/models.py
  services/barilo-api/markets/serializers.py
  services/barilo-api/markets/urls.py
  services/barilo-api/markets/views.py
  services/barilo-rank/.gitignore
  services/barilo-rank/.vscode/settings.json
  services/barilo-rank/README.md
  services/barilo-rank/cmd/__init__.py
  services/barilo-rank/cmd/rest-api.py
  services/barilo-rank/consumers.py
  services/barilo-rank/main.py
  services/barilo-rank/poetry.lock
  services/barilo-rank/pyproject.toml
  services/barilo-rank/services.py
  services/barilo-rank/test.py
Due: none

fixed migrations and circular upload feature
  services/barilo-api/circulars/migrations/0001_initial.py
  services/barilo-api/circulars/models.py
  services/barilo-api/circulars/serializers.py
  services/barilo-api/circulars/urls.py
  services/barilo-api/circulars/views.py
  services/barilo-api/markets/migrations/0002_remove_circularproduct_circular_and_more.py
  services/barilo-api/markets/models.py
Due: none

setup basic schemas for product events
  docker-compose.yml
  lib/python/barilo/__init__.py
  lib/python/barilo/schemas/__init__.py
  lib/python/barilo/schemas/events.py
  services/barilo-api/build/rest-server/Dockerfile
  services/barilo-api/circulars/producers.py
  services/barilo-api/circulars/views.py
  services/barilo-api/core/settings.py
  services/barilo-api/markets/consumers.py
  services/barilo-api/markets/management/commands/start_rabbitmq_consumer.py
  services/barilo-api/markets/migrations/0003_product__v.py
  services/barilo-api/markets/models.py
Due: none

added location to product model
  services/barilo-api/build/agolia-indexer-rabbitmq-consumer/Dockerfile
  services/barilo-api/circulars/admin.py
  services/barilo-api/circulars/migrations/0001_initial.py
  services/barilo-api/circulars/migrations/0002_alter_circularproduct_product.py
  services/barilo-api/circulars/views.py
  services/barilo-api/comparisons/admin.py
  services/barilo-api/comparisons/consumers.py
  services/barilo-api/comparisons/management/commands/start_agolia_indexer_rabbitmq_consumer.py
  services/barilo-api/comparisons/migrations/0001_initial.py
  services/barilo-api/comparisons/models.py
  services/barilo-api/comparisons/services.py
  services/barilo-api/core/settings.py
  services/barilo-api/markets/migrations/0001_initial.py
  services/barilo-api/markets/migrations/0002_remove_circularproduct_circular_and_more.py
  services/barilo-api/markets/migrations/0003_product__v.py
  services/barilo-api/markets/migrations/0004_remove_product_market.py
  services/barilo-api/markets/migrations/0005_delete_product.py
  services/barilo-api/markets/models.py
  services/barilo-api/products/admin.py
  services/barilo-api/products/migrations/0001_initial.py
  services/barilo-api/products/models.py
  services/barilo-api/products/producers.py
Due: none

chore: added blocking consumer instead of async io
  docker-compose.yml
  lib/python/barilo/schemas/events.py
  lib/python/rabbitmq/consumer.py
Due: none

implemented agolia search api product create
  lib/python/barilo/agolia/product.py
  lib/python/barilo/schemas/events.py
  services/barilo-api/circulars/views.py
  services/barilo-api/comparisons/consumers.py
  services/barilo-api/comparisons/management/commands/start_agolia_indexer_rabbitmq_consumer.py
  services/barilo-api/poetry.lock
  services/barilo-api/products/producers.py
  services/barilo-api/pyproject.toml
Due: none

created new endpoint to return all products of a bucket
  docker-compose.yml
  services/barilo-api/build/postgresql-comparison-rabbitmq-consumer/Dockerfile
  services/barilo-api/comparisons/admin.py
  services/barilo-api/comparisons/consumers.py
  services/barilo-api/comparisons/management/commands/start_postgresql_comparison_rabbitmq_consumer.py
  services/barilo-api/comparisons/migrations/0002_productbucket_productbucketitem_delete_productindex.py
  services/barilo-api/comparisons/models.py
  services/barilo-api/comparisons/urls.py
  services/barilo-api/comparisons/views.py
  services/barilo-api/core/urls.py
  services/barilo-api/docker-entry.sh
Due: none

feat: added full text search to products buckret feature
  services/barilo-api/comparisons/urls.py
  services/barilo-api/comparisons/views.py
  services/barilo-api/core/settings.py
Due: none

chore: fetch products with prefetch
  services/barilo-api/comparisons/views.py
Due: none

chore: fixed circulars search by geolocation and added swr to fetch results
  services/barilo-api/circulars/views.py
  services/barilo-api/markets/serializers.py
  services/barilo-web/src/app/(web)/encartes/page.tsx
  services/barilo-web/src/app/(web)/layout.tsx
  services/barilo-web/src/components/preferences/select-radius-preference/select-radius-preference.tsx
  services/barilo-web/src/contexts/preferences-context.tsx
  services/barilo-web/src/entities/store.ts
Due: root-install, barilo-web

chore: setup agolia autocomplete searcher
  services/barilo-api/comparisons/urls.py
  services/barilo-api/comparisons/views.py
  services/barilo-web/bun.lockb
  services/barilo-web/package.json
  services/barilo-web/src/components/layouts/header/agolia-autocomplete.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/hooks/use-lazy-ref.ts
Due: root-install, barilo-web

feat: added full text search with geolocation for products comparison
  services/barilo-api/comparisons/urls.py
  services/barilo-api/comparisons/views.py
  services/barilo-web/src/app/(web)/encartes/page.tsx
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/entities/comparison.ts
Due: root-install, barilo-web

feat: added brands sidebar to product search feature
  lib/python/barilo/agolia/product.py
  services/barilo-api/comparisons/consumers.py
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/components/offers/offers-template.tsx
  services/barilo-web/src/components/ui/slider.tsx
  services/barilo-web/src/entities/comparison.ts
Due: root-install, barilo-web

feat: added retry to consumers + DLQ and improved search queue to order by nearest
  lib/python/barilo/agolia/product.py
  lib/python/rabbitmq/consumer.py
  services/barilo-api/cart/__init__.py
  services/barilo-api/cart/admin.py
  services/barilo-api/cart/apps.py
  services/barilo-api/cart/cart.py
  services/barilo-api/cart/migrations/__init__.py
  services/barilo-api/cart/models.py
  services/barilo-api/cart/tests.py
  services/barilo-api/cart/urls.py
  services/barilo-api/cart/views.py
  services/barilo-api/comparisons/consumers.py
  services/barilo-api/comparisons/views.py
  services/barilo-api/core/settings.py
  services/barilo-api/core/urls.py
  services/barilo-api/markets/serializers.py
  services/barilo-api/poetry.lock
  services/barilo-api/pyproject.toml
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/contexts/cart-context.tsx
  services/barilo-web/src/contexts/preferences-context.tsx
  services/barilo-web/src/entities/comparison.ts
Due: root-install, barilo-web

feat: added cart feature to web
  services/barilo-api/comparisons/views.py
  services/barilo-web/src/app/(web)/layout.tsx
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/components/ui/badge.tsx
  services/barilo-web/src/contexts/cart-context.tsx
  services/barilo-web/src/entities/cart.ts
  services/barilo-web/src/entities/comparison.ts
Due: root-install, barilo-web

feat: implemented cart functionality
  services/barilo-api/cart/cart.py
  services/barilo-api/cart/urls.py
  services/barilo-api/cart/views.py
  services/barilo-api/comparisons/urls.py
  services/barilo-api/comparisons/views.py
  services/barilo-web/bun.lockb
  services/barilo-web/package.json
  services/barilo-web/postcss.config.js
  services/barilo-web/src/app/(web)/carrinho/page.tsx
  services/barilo-web/src/app/(web)/e-cart/page.tsx
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/app/layout.tsx
  services/barilo-web/src/components/layouts/header/agolia-autocomplete.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/contexts/cart-context.tsx
  services/barilo-web/src/entities/cart.ts
  services/barilo-web/src/entities/comparison.ts
  services/barilo-web/tailwind.config.ts
Due: root-install, barilo-web

chore: fixed phone numbers modal
  services/barilo-api/accounts/views.py
  services/barilo-web/public/img/10122.jpg
  services/barilo-web/src/app/(auth)/login/page.tsx
  services/barilo-web/src/app/(web)/carrinho/page.tsx
  services/barilo-web/src/app/(web)/central-do-anunciante/page.tsx
  services/barilo-web/src/app/(web)/encartes/page.tsx
  services/barilo-web/src/app/(web)/layout.tsx
  services/barilo-web/src/app/(web)/page.tsx
  services/barilo-web/src/app/(web)/search/page.tsx
  services/barilo-web/src/app/layout.tsx
  services/barilo-web/src/app/page.tsx
  services/barilo-web/src/assets/img/hand-drawn-world-vegan-day-illustration.png
  services/barilo-web/src/components/connect-whatsapp-number.tsx
  services/barilo-web/src/components/layouts/footer.tsx
  services/barilo-web/src/components/layouts/header/header.tsx
  services/barilo-web/src/components/layouts/web-layout.tsx
  services/barilo-web/src/contexts/cart-context.tsx
  services/barilo-web/src/contexts/preferences-context.tsx
  services/barilo-web/src/lib/agolia.ts
  services/barilo-web/src/types/env.d.ts
Due: root-install, barilo-web

chore: setup supervisor, nginx and gunicorn
  services/barilo-api/barilo
  services/barilo-api/conf/gunicorn.conf.py
  services/barilo-api/conf/nginx.conf
  services/barilo-api/conf/supervisor_barilo_rest_api.conf
  services/barilo-api/core/settings.py
  services/barilo-api/poetry.lock
  services/barilo-api/pyproject.toml
Due: none

chore: fixed path for gunicorn
  services/barilo-api/conf/supervisor_barilo_rest_api.conf
Due: none

chore: fixed accesslog and errorlog for gunicorn
  services/barilo-api/conf/gunicorn.conf.py
Due: none

Path conditions:
  root-install: any of: **/*.{ts,js,tsx,jsx}
  barilo-web: any of: services/barilo-web/** and ^services/barilo\-web/
  barilo-rest-api: any of: services/barilo-rest-api/** and ^services/barilo\-rest\-api/
